

.white-button {
    margin-top: 20px;
    a {
        text-decoration: none;
        display: block;
        padding-top: 7px;
        padding-bottom: 7px;
        background-color: rgb(255, 255, 255);
        color: rgb(29, 161, 242);
        text-align: center;
        border: 1px solid rgb(29, 161, 242);
        border-radius: 50px;
        font-weight: bold;
        letter-spacing: 1px;
        &:hover {
            background-color: rgba(132, 200, 243, 0.247);
        }
    }
}